/*=======================================*/
/*             Color settings            */
/*=======================================*/
$primary: #689d6a;
$primary-dark: #427b58;
$danger: #cc241d;
$danger-dark: #9d0006;
$info: #458588;
$info-dark: #076678;
$purple: #b16286;
$purple-dark: #8f3f71;
$bg-dark: #282828;
$bg-light: #f9f5d7;
$dark: #282828;
$light: #f9f5d7;
$warn: #d79921;
$warn-dark: #b57614;

/*=======================================*/
/*             Font settings             */
/*=======================================*/
$f-fam: "Montserrat";
$f-sz-xs: 0.75rem;
$f-sz-s: 0.875rem;
$f-sz-m: 1rem;
$f-sz-l: 1.125rem;
$f-sz-xl: 1.25rem;
$f-sz-xxl: 1.5rem;
$f-sz-xxxl: 2rem;
$f-sz-xxxxl: 2.5rem;