.btn {
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  color: $light;
  font-size: $f-sz-m;
}

.btn--primary {
  background-color: $primary;
  
  &:hover {
    background-color: $primary-dark;
  }
}

.btn--danger {
  background-color: $danger;
  
  &:hover {
    background-color: $danger-dark;
  }
}

.btn--info {
  background-color: $info;
  
  &:hover {
    background-color: $info-dark;
  }
}

.btn--purple {
  background-color: $purple;
  
  &:hover {
    background-color: $purple-dark;
  }
}

.btn--warn {
  background-color: $warn;
  
  &:hover {
    background-color: $warn-dark;
  }
}